* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#container {
  display: flex;
  width: 60rem;
  height: 35rem;
  transform: translateX(40%) translateY(20%);
  border-radius: 10px;
  background-color: rgba(51, 58, 73, 0.794);
  box-shadow: 2px 2px 1.25rem 10px rgb(17, 24, 51);
  border: 2px solid rgba(255, 255, 255, 0.245);
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
  overflow: auto;
  > h1 {
    font-size: 2.45rem;
    /* background-color: rgba(137, 43, 226, 0.572); */
    color: rgba(245, 245, 245, 0.685);
    border-radius: 5px;
    /* box-shadow: 0 1px 1rem rgba(137, 43, 226, 0.572); */
    padding: 0.2rem 1rem;
    text-align: center;
    margin: 2rem 0 0;
    letter-spacing: 0.125rem;
    font-weight: 800;
  }
  > form {
    width: 100%;
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    margin: -1rem 0 2rem 0;
    border-radius: 5px;
    > input {
      width: 100%;
      font-size: 1.25rem;
      background-color: rgb(15, 23, 41);
      padding: 1rem;
      margin: 0 2rem 0 0;
      border-radius: 10px;
      color: rgb(179, 197, 239);
      border: 2px solid rgb(130, 141, 248);
    }
    & > input:focus-within {
      background-color: rgb(15, 23, 41);
      outline: 6px double rgba(55, 100, 139, 0.905);
    }
    > input::-webkit-calendar-picker-indicator {
      filter: invert(1);
      font-size: 1.3rem;
    }
    > button {
      border-radius: 10px;
      padding: 1rem 2rem;
      border: 2px solid rgba(225, 233, 240, 0.905);

      background-color: rgba(157, 171, 247, 0.807);
      font-size: 1.35rem;
      letter-spacing: 0.125rem;
      color: rgb(12, 22, 113);
      font-weight: 800;
      cursor: pointer;
    }
    & > button:hover {
      opacity: 0.8;
    }
  }
  > table {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(15, 23, 41);
    margin-bottom: 2rem;

    > thead {
      height: 3.5rem;
      border: none;
      background-color: rgb(14, 21, 37);
      color: rgb(179, 197, 239);
      font-size: 1.105rem;
      text-align: center;
    }
    > tbody > tr {
      height: 3rem;
      text-align: center;
      font-size: 1.5rem;
      color: rgb(179, 197, 239);
      > td.actionCell {
        width: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 1rem;
        position: relative;
        > div#dropDown {
          position: absolute;
          width: 10rem;
          height: 5rem;
          background-color: rgb(15, 23, 41);
          border-radius: 10px;
          top: 2.625rem;
          left: -7rem;
          cursor: pointer;
          overflow: hidden;
          z-index: 10;
          > button {
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            color: rgb(179, 197, 239);
            cursor: pointer;
            font-size: 1rem;
            padding: 0.625rem;
            font-weight: 500;
          }
          & > button:hover {
            background-color: rgb(31, 41, 62);
          }
        }
        > button {
          margin: 1rem 0;
          padding: 0.25rem 1.2rem;
          font-size: 1.45rem;
          border-radius: 10px;
          border: none;
          cursor: pointer;
        }
        > button:nth-child(1) {
          background-color: rgb(244, 193, 82);
        }
        > button:nth-child(2) {
          background-color: rgb(43, 212, 189);
        }
        > button:nth-child(3) {
          background-color: rgb(251, 111, 132);
        }
      }
      > td#no-data-cell {
        text-align: center;
        padding: 2rem 0;
      }
    }
  }
}

.filterContainer {
  width: 100%;
  margin-top: -2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  > div#filter-dropdown {
    position: absolute;
    width: 16rem;
    height: 14rem;
    top: 80px;
    left: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(15, 23, 41);
    padding: 1rem;
    overflow: hidden;
    > button {
      padding: 0.625rem;
      text-align: start;
      font-size: 1.25rem;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 10px;
      color: rgb(179, 197, 239);
      padding: 1rem;
    }
    & > button:hover {
      background-color: rgb(31, 41, 62);
    }
  }
  > button {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: rgb(179, 197, 239);
    background-color: rgb(26, 37, 56);
  }
  & > button:hover {
    opacity: 0.8;
  }
  > button:first-child {
    background-color: rgb(30, 40, 59);
    border: none;
    color: rgb(179, 204, 245);
  }
  > button:last-child {
    background-color: rgba(157, 171, 247, 0.807);
    border: 2px solid rgba(225, 233, 240, 0.905);
    color: rgb(2, 10, 85);
    font-weight: 700;
  }
}
#todoContainer {
  width: 50%;
  height: 100%;
  text-align: center;

  > div {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 5px;
    background-color: bisque;
    gap: 2rem;
    margin: 0 0 2rem 0;
    > p {
      font-size: 1.5rem;
      font-weight: 400;
    }
    > input {
      width: 1.625rem;
      height: 1.625rem;
      margin-left: 3rem;
      cursor: pointer;
    }
    > p.textCutout {
      text-decoration: line-through;
    }
    > button {
      margin-left: auto;
      margin-right: 2rem;
      padding: 0.625rem 0.825rem;
      font: 1rem;
      cursor: pointer;
      border-radius: 25px;
      text-align: center;
      background-color: rgb(239, 52, 52);
      border: none;
      color: white;
    }
    & > button:hover {
      opacity: 0.8;
    }
  }
}

@media screen and (width<=1200px) {
  #container {
    transform: translateX(0) translateY(10%);
    width: 100vmin;
    height: 100vh;
    padding: 0 2rem;
    overflow: auto;
    > table {
      width: 80vmax;
      transform: translateX(20%);
      > tbody > tr {
        font-size: 1rem;
      }
    }
    > h1 {
      font-size: 2.42rem;
      letter-spacing: 0;
      text-align: start;
    }
  }
  #container > form {
    flex-direction: column;
    width: 90%;
    padding: 2rem;
    gap: 3rem;
    align-items: center;
    > input {
      width: 100%;
      margin: 0;
    }
  }

  #todoContainer {
    width: 80%;
    > div > p {
      font-size: 1.2rem;
    }
    > div > input {
      width: 1.2rem;
    }
    > div > button {
      padding: 0.6rem 0.8rem;
    }
  }
}
